*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}
body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
nav p {
    margin: 10px;
    font-size: 20px;
    width: 50%;
    text-align: center;
}
nav ul {
    display: flex;
    list-style-type: none;
    width: 50%;
    justify-content: space-evenly;
}
nav ul li {
    display: inline-block;
    padding: 8px;
    transition: all 200ms;
    border-radius: 5px;
}
nav ul li:hover {
    background-color: #333;
    text-decoration: underline;
    color: #cacaca;
}
nav ul li.help {
    position: relative;
}
nav ul li.help p {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 210px;
    right: 0;
    z-index: 4;
    height: 300px;
    padding: 2px 8px;
    text-align: justify;
    overflow-y: auto;
    font-size: 17px;
    scrollbar-width: thin;
    scrollbar-color: #333 #999;
    display: none;
    line-height: 25px;
}
nav ul li.help p::selection {
    background-color: rgb(202, 202, 202);
    color: black;
}
nav ul li.help p.showhelp {
    display: block;
}
nav ul li.help p:hover {
    background-color: black;
    color: white;
}
div.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cover p {
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    line-height: 40px;
}
div.maingame {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 1px;
    border: 3px solid black;
}
div.maingame div.shrink {
    scale: 0;
}
div.maingame div.empty {
    width: 100px;
    height: 100px;
    z-index: 0;
    background-color: #333;
    outline: 2px solid black;
    outline-offset: -10px;
}
div.maingame div.empty:focus {
    outline: 2px solid orange;
}
div.maingame div.slot {
    width: 100px;
    height: 100px;
    background-color: black;
    z-index: 1;
    transition: all 300ms;
}
div.maingame div.slot:nth-child(1) {
    grid-area: 1 1;
}
div.maingame div.slot:nth-child(2) {
    grid-area: 1 2;
}
div.maingame div.slot:nth-child(3) {
    grid-area: 1 3;
}
div.maingame div.slot:nth-child(4) {
    grid-area: 2 1;
}
div.maingame div.slot:nth-child(5) {
    grid-area: 2 2;
}
div.maingame div.slot:nth-child(6) {
    grid-area: 2 3;
}
div.maingame div.slot:nth-child(7) {
    grid-area: 3 1;
}
div.maingame div.slot:nth-child(8) {
    grid-area: 3 2;
}
div.maingame div.slot:nth-child(9) {
    grid-area: 3 3;
}
div.maingame div.slot.vibrate {
    animation: vibrate linear running;
    animation-duration: 50ms;
    animation-iteration-count: 6;
}
@keyframes vibrate {
    0% {
        transform: rotateZ(0deg)
    }
    25% {
        transform: rotateZ(5deg)
    }
    50% {
        transform: rotateZ(0deg)
    }
    75% {
        transform: rotateZ(-5deg)
    }
}
@keyframes scale {
    from {
        scale: 1;
    }
    20% {
        scale: 0.7;
    }
    40% {
        scale: 1;
    }
    60% {
        scale: 0.7;
    }
    80% {
        scale: 1;
    }
    100% {
        scale: 0.7;
    }
}
div.description {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 1px;
    border: 2px solid black;
}
div.description div.shrink {
    scale: 0;
}
div.description div.slot {
    width: 50px;
    height: 50px;
    transition: all 200ms;
}
div.description div.slot.effect {
    animation: scale 1300ms infinite linear alternate;
}